{ns aidbox.forms.active-medications
 import #{zenbox aidbox.sdc aidbox.sdc.fhir aidbox.forms.vs.medication-clinical-drug}


 ActiveMedicationsDocument
 {:zen/tags #{zen/schema aidbox.sdc/doc aidbox.sdc/rules}
  :zen/desc "Active Medications"
  :type zen/map
  :confirms #{aidbox.sdc/Document}
  :keys {:active-medications
         {:type zen/vector,
          :every {:type zen/map,
                  :require #{:drug-name}
                  :keys {:id {:type zen/string}
                         :status {:type zen/string :sdc/default-value "active"}
                         :drug-name {:text "Drug Name"
                                     :help "Drug Name"
                                     :confirms #{aidbox.sdc.fhir/coding}
                                     :sdc/options aidbox.sdc.options/valueset
                                     :valueset "forms.rxnorm-medication-clinical-drug"}
                         :sig {:type zen/string :zen/desc "Sig"}
                         :dispense {:type zen/string :zen/desc "Dispense (optional)"}
                         :refill {:type zen/string :zen/desc "Refill (optional)"}
                         :start-date {:type zen/datetime :zen/desc "Start Date (optional)"}
                         :stop-date {:type zen/datetime :zen/desc "Stop Date (optional)"}
                         :notes {:type zen/string
                                 :sdc-type aidbox.sdc/text
                                 :zen/desc "Notes (optional)"}}}}}}

 ActiveMedicationForm
 {:zen/tags #{aidbox.sdc/Layout}
  :engine aidbox.sdc/Hiccup
  :layout
  {:type aidbox.sdc/col
   :children
   [{:bind [:drug-name]}
    {:bind [:sig]}
    {:type aidbox.sdc/row
     :children [{:bind [:dispense]}
                {:bind [:refill]}]}
    {:type aidbox.sdc/row
     :children [{:bind [:start-date]}
                {:bind [:stop-date]}]}
    {:bind [:notes]}]}}

 ActiveMedicationsLayout
 {:zen/tags #{aidbox.sdc/Layout}
  :document ActiveMedicationsDocument
  :engine aidbox.sdc/Hiccup
  :layout
  {:type aidbox.sdc/fields
   :children [{:type aidbox.sdc/grid-editor
               :bind [:active-medications]
               :new-form {:form-ref ActiveMedicationForm}
               :edit-form {:form-ref ActiveMedicationForm}
               :columns [{:label "Medication & Dosage / Sig"
                          :type aidbox.sdc/fields
                          :children [{:type aidbox.sdc/label
                                      :bind [:drug-name :display]}
                                     {:type aidbox.sdc/label
                                      :bind [:sig]}]}
                         {:label "Dispense / Refills Left"
                          :type aidbox.sdc/fields
                          :children [{:type aidbox.sdc/label
                                      :bind [:dispense]}
                                     {:type aidbox.sdc/label
                                      :bind [:refill]}]}]
               :row-actions [{:type aidbox.sdc/grid-edit-button
                              :label "Edit"
                              :sdc/display-when (lisp/not (lisp/= "787481004" (lisp/get-in [:drug-name :code])))}
                             {:label "Inactivate"
                              :type aidbox.sdc/set-value-button
                              :bind [:status]
                              :value "stopped"}]
               :quick-row [{:label "No Known Meds"
                            :type aidbox.sdc/add-value-button
                            :value {:status "active"
                                    :drug-name {:code "787481004" ;
                                                :system "http://snomed.info/sct"
                                                :display "No known medications"}}
                            :sdc/disable-when (lisp/> (lisp/-
                                                       (lisp/count (lisp/matcho-filter (lisp/get-in [:active-medications])
                                                                                       {:status "active"}))
                                                       (lisp/count (lisp/matcho-filter (lisp/get-in [:active-medications])
                                                                                       {:drug-name {:code "787481004"}}))) 0)}]}]}}

 ActiveMedicationsLaunch
 {:zen/tags #{aidbox.sdc/Launch}
  :document ActiveMedicationsDocument
  :params {:encounter-id {:type zen/string}}
  :populate-engine aidbox.sdc/LispPopulate
  :populate {:author    (lisp/get-in [:ctx :user])
             :encounter {:id (lisp/get-in [:params :encounter-id]) :resourceType "Encounter"}
             :patient   (lisp/sql {:select [:#> :resource [:subject]]
                                   :from :Encounter
                                   :where [:= :id (lisp/get-in [:params :encounter-id])]})
             :active-medications (lisp/sql* {:select  {:res ^:pg/obj {:doc [:-> :d.resource :active-medications]
                                                                      :active-medication ^:pg/obj {:id :MedicationStatement.id
                                                                                                   :status [:#>> :MedicationStatement.resource [:status]]
                                                                                                   :drug-name [:#> :MedicationStatement.resource [:medication :CodeableConcept :coding 0]]
                                                                                                   :sig [:#> :MedicationStatement.resource [:dosage 0 :text]]
                                                                                                   :start-date [:#> :MedicationStatement.resource [:effective :Period :start]]
                                                                                                   :stop-date [:#> :MedicationStatement.resource [:effective :Period :end]]
                                                                                                   :notes [:#> :MedicationStatement.resource [:note 0 :text]]}
                                                                      }}
                                             :from :MedicationStatement
                                             :left-join {:d {:table :SDCDocument
                                                             :on [:= :d.id (lisp/sql {:select {:id :id}
                                                                                      :from :SDCDocument
                                                                                      :where [:and
                                                                                              [:= [:#>> :resource [:status]] "in-progress"]
                                                                                              [:= [:#>> :resource [:form :form]] "aidbox.forms.active-medications/ActiveMedicationsForm"]
                                                                                              ]
                                                                                      :limit 1
                                                                                      :order-by [:pg/desc :ts]
                                                                                      })]}}
                                             :where [:and
                                                     [:=
                                                      [:#>> :MedicationStatement.resource [:subject :id]]
                                                      (lisp/sql
                                                       {:select [:#> :resource [:subject :id]]
                                                        :from :Encounter
                                                        :where [:= :id (lisp/get-in [:params :encounter-id])]})]
                                                     [:=
                                                      [:#>> :MedicationStatement.resource [:status]]
                                                      "active"]]})}}

 ActiveMedicationsFinalize
 {:zen/tags #{aidbox.sdc/Finalize zen/schema}
  :document ActiveMedicationsDocument
  :export-engine aidbox.sdc/LispExport
  :patch [(lisp/for [lisp/j (lisp/sql* {:select  {:id :id}
                                        :from :MedicationStatement
                                        :where [:and
                                                (lisp/when (lisp/> (lisp/count
                                                                    (lisp/get-in [:active-medications])) 0)
                                                  [:not [:in :id [:pg/params-list
                                                                  (lisp/for [lisp/i (lisp/get-in [:active-medications])]
                                                                    (lisp/str (lisp/get lisp/i :id)))]]])
                                                [:=
                                                 [:->> :resource :status]
                                                 "active"]
                                                [:=
                                                 [:#>> :resource [:subject :id]]
                                                 (lisp/sql
                                                  {:select [:#> :resource [:subject :id]]
                                                   :from :Encounter
                                                   :where [:= :id (lisp/get-in [:encounter :id])]})]]})]
            {:resourceType "MedicationStatement"
             :id lisp/j
             :status "entered-in-error"})]
  :create [(lisp/for [lisp/i (lisp/get-in [:active-medications])]
             {:id (lisp/get-in lisp/i [:id])
              :resourceType "MedicationStatement"
              :status (lisp/get lisp/i :status)
              :subject (lisp/get :patient)
              :context (lisp/get :encounter)
              :medication {:CodeableConcept {:coding [(lisp/get lisp/i :drug-name)]}}
              :dosage [{:text (lisp/get-in lisp/i [:sig])}]
              :effective {:Period {:start (lisp/get lisp/i :start-date)
                                   :end (lisp/get lisp/i :stop-date)}}
              :note (lisp/when (lisp/get-in lisp/i [:notes])
                      [{:text (lisp/get-in lisp/i [:notes])}])
              :dateAsserted (lisp/date)})]}

 ActiveMedicationsForm
 {:zen/tags #{aidbox.sdc/Form}
  :title    "Active Medications"
  :document ActiveMedicationsDocument
  :layout   ActiveMedicationsLayout
  :launch   ActiveMedicationsLaunch
  :finalize ActiveMedicationsFinalize}

 }
