{ns aidbox.forms.physical-exam
 import #{zenbox aidbox.sdc}

 ;;
 ;; Physical Exam
 ;;
 PhysicalExamDocument
 {:zen/tags #{zen/schema aidbox.sdc/doc aidbox.sdc/rules}
  :zen/desc "Physical Exam"
  :type zen/map
  :confirms #{aidbox.sdc/Document}
  :sdc/rules {:general (or (get :general)
                          ;; Injecting external value (from WF)
                           (get :ros/general-comment))}
  :keys {:gender               {:zen/desc "Gender (hidden field)" :type zen/string}
         :encounter-class      {:zen/desc "Encounter class (hidden field)" :type zen/string}
         :general              {:text "General" :type zen/string
                                :code [{:code "71389-1" :system "https://loinc.org"
                                        :display "CMS - constitutional exam panel"}]}
         :heent                {:text "HEENT" :type zen/string
                                :code [{:code "71392-5" :system "https://loinc.org"
                                        :display "CMS - ear-nose-mouth-throat exam panel"}]}
         :neck                 {:text "Neck" :type zen/string
                                :code [{:code "71393-3" :system "https://loinc.org"
                                        :display "CMS - neck exam panel"}]}
         :cardiovascular       {:text "Cardiovascular" :type zen/string
                                :code [{:code "71395-8" :system "https://loinc.org"
                                        :display "CMS - cardiovascular exam panel"}]}
         :pulmonary            {:text "Pulmonary" :type zen/string
                                :code [{:code "71394-1" :system "https://loinc.org"
                                        :display "CMS - respiratory exam panel"}]}
         :abdominal            {:text "Abdominal" :type zen/string
                                :code [{:code "71397-4" :system "https://loinc.org"
                                        :display "CMS - gastrointestinal - abdomen - exam panel"}]}
         :musculoskeletal      {:text "Musculoskeletal" :type zen/string
                                :code [{:code "71402-2" :system "https://loinc.org"
                                        :display "CMS - musculoskeletal exam panel"}]}
         :extremities          {:text "Extremities" :type zen/string
                                :code [{:code "71401-4" :system "https://loinc.org"
                                        :display "CMS - extremities exam panel"}]}
         :neurologic           {:text "Neurologic" :type zen/string
                                :code [{:code "71404-8" :system "https://loinc.org"
                                        :display "CMS - neurologic exam panel"}]}
         :psychiatric          {:text "Psychiatric" :type zen/string
                                :code [{:code "71405-5" :system "https://loinc.org"
                                        :display "CMS - psychiatric exam panel"}]}
         :skin                 {:text "Skin" :type zen/string
                                :code [{:code "71403-0" :system "https://loinc.org"
                                        :display "CMS - skin exam panel"}]}
         :chest                {:text "Chest" :type zen/string
                                :code [{:code "71396-6" :system "https://loinc.org"
                                        :display "CMS - breast exam panel"}]}
         :monofilament         {:text "Monofilament" :type zen/string
                                :code [{:code "32473-1" :system "https://loinc.org"
                                        :display "Physical findings sensation"}]}
         :genitourinary-female {:text "Genitourinary" :type zen/string
                                :code [{:code "71399-0" :system "https://loinc.org"
                                        :display "CMS - genitourinary exam - female panel"}]}
         :genitourinary-male   {:text "Genitourinary" :type zen/string
                                :code [{:code "71398-2" :system "https://loinc.org"
                                        :display "CMS - genitourinary exam - male panel"}]}
         :rectal               {:text "Rectal" :type zen/string
                                :code [{:code "8708-0" :system "https://loinc.org"
                                        :display "Physical findings of Rectum"}]}
         :lymphatic            {:text "Lymphatic" :type zen/string
                                :code [{:code "71400-6" :system "https://loinc.org"
                                        :display "CMS - lymphatic exam panel"}]}}}

 PhysicalExamLayout
 {:zen/tags #{aidbox.sdc/Layout aidbox.sdc/rules}
  :document PhysicalExamDocument
  :engine aidbox.sdc/Hiccup
  :layout
  {:type aidbox.sdc/fields
   :children
   [{:type aidbox.sdc/fields
     :children
     [{:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/label
         :label "General"}
        {:type aidbox.sdc/row
         :children
         [{:bind [:general]}
          {:bind [:general]
           :sdc/disable-when (get-in [:general])
           :type aidbox.sdc/set-value-button
           :value "Well nourished, well developed, awake and alert, resting comfortably in no acute distress, cooperative on exam."
           :label "Fill"}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/label
         :label "HEENT"}
        {:type aidbox.sdc/row
         :children
         [{:bind [:heent]}
          {:bind [:heent]
           :sdc/disable-when (get-in [:heent])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "NCAT, PERRL, normal conjunctivae, nonicteric sclerae, bilateral EAC/TM clear, no nasal discharge, OP clear, moist mucous membranes"}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Neck"}
          {:bind [:neck]
           }
          {:bind [:neck]
           :sdc/disable-when (get-in [:neck])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Supple, normal ROM, no lymphadenopathy/masses, nontender."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Cardiovascular"}
          {:bind [:cardiovascular]}
          {:bind [:cardiovascular]
           :sdc/disable-when (get-in [:cardiovascular])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "RRR, normal S1/S2, no murmurs/gallops/rub."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Pulmonary"}
          {:bind [:pulmonary]}
          {:bind [:pulmonary]
           :sdc/disable-when (get-in [:pulmonary])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "No respiratory distress, lungs CTAB: no rales, rhonchi, or wheeze."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Abdominal"}
          {:bind [:abdominal]}
          {:bind [:abdominal]
           :sdc/disable-when (get-in [:abdominal])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Soft and non-tender with no guarding or rebound; +BS normoactive, no tympany on auscultation."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Musculoskeletal"}
          {:bind [:musculoskeletal]}
          {:bind [:musculoskeletal]
           :sdc/disable-when (get-in [:musculoskeletal])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Normal ROM of UE and LE, normal bulk and tone."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Extremities"}
          {:bind [:extremities]}
          {:bind [:extremities]
           :sdc/disable-when (get-in [:extremities])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Pulses intact with normal cap refill, no LE pitting edema or calf tenderness."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Neurologic"}
          {:bind [:neurologic]}
          {:bind [:neurologic]
           :sdc/disable-when (get-in [:neurologic])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "AAOx3, converses normally. CN II - XII grossly intact. Gait and coordination intact. 5+ BL UE/LE strength, no gross motor or sensory defects."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Psychiatric"}
          {:bind [:psychiatric]}
          {:bind [:psychiatric]
           :sdc/disable-when (get-in [:psychiatric])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Normal mood and affect. Judgement/competence is appropriate."}]}]}
      {:type aidbox.sdc/row
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Psychiatric"}
          {:bind [:skin]}
          {:bind [:skin]
           :sdc/disable-when (get-in [:skin])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Warm, dry, and intact. No rashes, dermatoses, petechiae, or lesions."}]}]}
      {:type aidbox.sdc/row
       :sdc/display-when (get :has-diabetes)
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/label
           :label "Monofilament"}
          {:bind [:monofilament]}
          {:bind [:monofilament]
           :sdc/disable-when (get-in [:monofilament])
           :type aidbox.sdc/set-value-button
           :label "Fill"
           :value "Normal sensation bilaterally on soles of feet with 10g monofilament."}]}]}]}
    {:type aidbox.sdc/col
     :children
     [{:type aidbox.sdc/label
       :label "Other Systems (optional)"}
      {:type aidbox.sdc/fields
       :children
       [{:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Chest"}
            {:bind [:chest]}
            {:bind [:chest]
             :sdc/disable-when (get-in [:chest])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "The chest wall is symmetric, without deformity, and is atraumatic in appearance."}]}]}
        {:type aidbox.sdc/row
         :sdc/display-when (not (get :has-diabetes))
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Monofilament"}
            {:bind [:monofilament]}
            {:bind [:monofilament]
             :sdc/disable-when (get-in [:monofilament])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "Normal sensation bilaterally on soles of feet with 10g monofilament."}]}]}
        {:type aidbox.sdc/row
         :sdc/display-when (= (get :gender) "female")
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Genitourinary famale"}
            {:bind [:genitourinary-female]}
            {:bind [:genitourinary-female]
             :sdc/disable-when (get-in [:genitourinary-female])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "External genitalia without erythema, exudate or discharge."}]}]}
        {:type aidbox.sdc/row
         :sdc/display-when (= (get :gender) "male")
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Genitourinary male"}
            {:bind [:genitourinary-male]}
            {:bind [:genitourinary-male]
             :sdc/disable-when (get-in [:genitourinary-male])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "Penis without lesions. No urethral discharge. Testes normal size without masses or tenderness. No scrotal masses. No hernia."
             }]}]}
        {:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Rectal"}
            {:bind [:rectal]}
            {:bind [:rectal]
             :sdc/disable-when (get-in [:rectal])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "Normal external anus and normal tone. No palpable masses, normal mucosa, brown stool. Hemoccult negative."
             }]}]}
        {:type aidbox.sdc/row
         :children
         [{:type aidbox.sdc/row
           :children
           [{:type aidbox.sdc/label
             :label "Lymphatic"}
            {:bind [:lymphatic]}
            {:bind [:lymphatic]
             :sdc/disable-when (get-in [:lymphatic])
             :type aidbox.sdc/set-value-button
             :label "Fill"
             :value "No enlarged lymph nodes of occipital, pre- and postauricular, submandibular, anterior or posterior cervical, or supraclavicular identified."}]}]}]}]}]}}

 PhysicalExamLaunch
 {:zen/tags #{aidbox.sdc/Launch}
  :document PhysicalExamDocument
  :params {:encounter-id {:type zen/string}}
  :populate-engine aidbox.sdc/LispPopulate
  :populate {:author    (get-in [:ctx :user])
             :encounter {:id (get-in [:params :encounter-id]) :resourceType "Encounter"}
             :encounter-class (sql {:select [:#> :resource [:class :code]]
                                    :from :Encounter
                                    :where [:= :id (get-in [:params :encounter-id])]})
             :patient   (sql {:select [:#> :resource [:subject]]
                              :from :Encounter
                              :where [:= :id (get-in [:params :encounter-id])]})
             :gender (sql {:select [:#> :resource [:gender]]
                           :from :Patient
                           :where [:= :id
                                   (sql {:select [:#> :resource [:subject :id]]
                                         :from :Encounter
                                         :where [:= :id (get-in [:params :encounter-id])]})]})}}

 PhysicalExamProfile
 {:zen/tags #{zen/schema}
  :type zen/map
  :require #{:general
             :heent
             :neck
             :cardiovascular
             :pulmonary
             :abdominal
             :musculoskeletal
             :extremities
             :neurologic
             :psychiatric
             :skin
             :monofilament}}

 PhysicalExamFinalize
 {:zen/tags #{aidbox.sdc/Finalize zen/schema}
  :document PhysicalExamDocument
  :profile PhysicalExamProfile
  :export-engine aidbox.sdc/LispExport
  :create
  [{:template aidbox.sdc/gen-observation-template :params {:path [:general]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:heent]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:neck]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:cardiovascular]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:pulmonary]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:abdominal]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:musculoskeletal]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:extremities]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:neurologic]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:psychiatric]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:skin]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:monofilament]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:chest]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:genitourinary-female]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:genitourinary-male]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:rectal]}}
   {:template aidbox.sdc/gen-observation-template :params {:path [:lymphatic]}}]}

 PhysicalExamForm
 {:zen/tags #{aidbox.sdc/Form}
  :title    "Physical Exam"
  :version  "1.0.0"
  :document PhysicalExamDocument
  :layout   PhysicalExamLayout
  :launch   PhysicalExamLaunch
  :finalize PhysicalExamFinalize}}
