{ns aidbox.forms.ros
 import #{zenbox aidbox.sdc}

 ;;
 ;; Review of Systems
 ;;
 RoSDocument
 {:zen/tags #{zen/schema aidbox.sdc/doc aidbox.sdc/rules},
  :source {:url "https://www.cms.gov/Outreach-and-Education/Medicare-Learning-Network-MLN/MLNProducts/MLN-Publications-Items/CMS1243514"
           :system "https://loinc.org"
           :code "71406-3"}
  :zen/desc "A review of systems is an inventory of body systems obtained through
a series of questions seeking to identify signs and/or symptoms which the patient may be experiencing or has experienced",
  :type zen/map,
  :confirms #{aidbox.sdc/Document},
  :keys {:provider-state-some-problems
         {:text "Provider reviewed all systems and state that all are WNL except as noted below"
          :type zen/boolean
          :code [{:system "http://loinc.com" :code "71406-3"}]}

         :general-enabled {:text "General" :type zen/boolean}
         :general-comment {:text "General Comment" :type zen/string
                           :code [{:system "http://loinc.com" :code "71407-1"}]}

         :heent-enabled {:text "HEENT" :type zen/boolean}
         :heent-comment {:text "HEENT Comment" :type zen/string
                         :code [{:system "http://loinc.com" :code "71409-7"}]}

         :cardiovascular-enabled {:text "Cardiovascular" :type zen/boolean}
         :cardiovascular-comment {:text "Cardiovascular Comment" :type zen/string
                                  :code [{:system "http://loinc.com" :code "71410-5"}]}

         :respiratory-enabled {:text "Respiratory" :type zen/boolean}
         :respiratory-comment {:text "Respiratory Comment" :type zen/string
                               :code [{:system "http://loinc.com" :code "71411-3"}]}

         :gastrointestinal-enabled {:text "Gastrointestinal" :type zen/boolean}
         :gastrointestinal-comment {:text "Gastrointestinal Comment" :type zen/string
                                    :code [{:system "http://loinc.com" :code "71412-1"}]}

         :genitourinary-enabled {:text "Genitourinary" :type zen/boolean}
         :genitourinary-comment {:text "Genitourinary Comment" :type zen/string
                                 :code [{:system "http://loinc.com" :code "71413-9"}]}

         :musculoskeletal-enabled {:text "Musculoskeletal" :type zen/boolean}
         :musculoskeletal-comment {:text "Musculoskeletal Comment" :type zen/string
                                   :code [{:system "http://loinc.com" :code "71414-7"}]}

         :neurologic-enabled {:text "Neurologic" :type zen/boolean}
         :neurologic-comment {:text "Neurologic Comment" :type zen/string
                              :code [{:system "http://loinc.com" :code "71416-2"}]}

         :psychiatric-enabled {:text "Psychiatric" :type zen/boolean}
         :psychiatric-comment {:text "Psychiatric Comment" :type zen/string
                               :code [{:system "http://loinc.com" :code "71417-0"}]}

         :skin-enabled {:text "Skin" :type zen/boolean}
         :skin-comment {:text "Skin Comment" :type zen/string
                        :code [{:system "http://loinc.com" :code "71415-4"}]}

         :other-enabled {:text "Other" :type zen/boolean}
         :other-comment {:text "Other Comment" :type zen/string
                         #_#_:code [{:system "http://loinc.com" :code "other-enabled"}] }}} ;; What to do with this field?

 RoSLayout
 {:zen/tags #{aidbox.sdc/Layout aidbox.sdc/rules}
  :document RoSDocument
  :engine aidbox.sdc/Hiccup
  :layout
  {:type aidbox.sdc/col,
   :children
   [{:bind [:provider-state-some-problems]}
    {:type aidbox.sdc/fields
     :children
     [{:type aidbox.sdc/label
       :label "Select abnormal systems"
       :sdc/display-when (lisp/get :provider-state-some-problems)}
      {:type aidbox.sdc/fields
       :sdc/display-when (lisp/get :provider-state-some-problems)
       :children
       [{:type aidbox.sdc/row
         :children
         [{:bind [:general-enabled]}
          {:sdc/display-when (lisp/get :general-enabled)
           :bind [:general-comment]
           :label "Comment"}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:heent-enabled]}
          {:sdc/display-when (lisp/get :heent-enabled)
           :bind [:heent-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:cardiovascular-enabled]}
          {:sdc/display-when (lisp/get :cardiovascular-enabled)
           :bind [:cardiovascular-comment]
           }]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:respiratory-enabled]}
          {:sdc/display-when (lisp/get :respiratory-enabled)
           :bind [:respiratory-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:gastrointestinal-enabled]}
          {:sdc/display-when (lisp/get :gastrointestinal-enabled)
           :bind [:gastrointestinal-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:genitourinary-enabled]}
          {:sdc/display-when (lisp/get :genitourinary-enabled)
           :bind [:genitourinary-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:musculoskeletal-enabled]}
          {:sdc/display-when (lisp/get :musculoskeletal-enabled)
           :bind [:musculoskeletal-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:neurologic-enabled]}
          {:sdc/display-when (lisp/get :neurologic-enabled)
           :bind [:neurologic-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:psychiatric-enabled]}
          {:sdc/display-when (lisp/get :psychiatric-enabled)
           :bind [:psychiatric-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:skin-enabled]}
          {:sdc/display-when (lisp/get :skin-enabled)
           :bind [:skin-comment]}]}
        {:type aidbox.sdc/row
         :children
         [{:bind [:other-enabled]}
          {:sdc/display-when (lisp/get :other-enabled)
           :bind [:other-comment]}]}]}]}]}}

 RoSLaunch
 {:zen/tags #{aidbox.sdc/Launch}
  :document RoSDocument
  :params {:encounter-id {:type zen/string}}
  :populate-engine aidbox.sdc/LispPopulate
  :populate {:author    (lisp/get-in [:ctx :user])
             :encounter {:id (lisp/get-in [:params :encounter-id]) :resourceType "Encounter"}
             :patient   (lisp/sql {:select [:#> :resource [:subject]]
                                   :from :Encounter
                                   :where [:= :id (lisp/get-in [:params :encounter-id])]})}}

 RoSFinalize
 {:zen/tags #{aidbox.sdc/Finalize zen/schema}
  :document RoSDocument
  :export-engine aidbox.sdc/LispExport
  :create [{:template aidbox.sdc/gen-observation-template :params {:path [:general-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:heent-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:cardiovascular-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:respiratory-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:gastrointestinal-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:genitourinary-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:musculoskeletal-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:neurologic-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:psychiatric-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:skin-comment]}}
           {:template aidbox.sdc/gen-observation-template :params {:path [:other-comment]}}]}

 RoSForm
 {:zen/tags #{aidbox.sdc/Form}
  :title    "Review of Systems"
  :version  "1.0.0"
  :document RoSDocument
  :layout   RoSLayout
  :launch   RoSLaunch
  :finalize RoSFinalize}}
